<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to CulturalHub!</title>
    <style>
        header {
            text-align: center;
            margin-top: 20px;
        }

        img {
            max-width: 30%;
            height: auto;
            margin: 10px 0;
        }

    </style>
    <script src="{% static 'js/comment.js' %}"></script>
</head>
<body {% block body_class %}{% endblock %}>
    <header>
        {% load static %}
        <img src="{% static 'logo.png' %}" alt="CulturalHub logo">
    </header>

    {% block messages %}
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <p{% if message.tags %} class="message {{ message.tags }}"{% endif %}>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

    {% block content %}
    {% endblock %}

    <footer>
        <p>2023 CulturalHub&copy; </p>
    </footer>
</body>
</html>
