{% extends 'base.html' %}

{% block content %}
    {% if category %}
        <h2>{{ category.name }}</h2>
        <p>{{ category.description }}</p>

        {% if contents %}
            <h3>{{ category.name }} shared by the community:</h3>
            {% for content in contents %}
                <p><a href="{% url 'content-view' content.id %}">{{ content.title }}</a></p>
            {% endfor %}
        {% else %}
            <p>No content available for this category.</p>
        {% endif %}

        <p><a href="{% url 'create-content' %}">Add content</a></p>
        <p><a href="{% url 'main-page' %}">Back to the main page</a></p>

    {% endif %}
{% endblock %}
