{% extends 'base.html' %}

{% block content %}
    <div style="float: right; margin-top: 10px;">
        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
            <a href="{% url 'user' user.id %}">Your Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <p>Welcome, guest!</p>
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
    </div>

    {% for category in categories %}
        <a href="{% url 'category' category.name %}">{{ category.name }}</a>
    {% endfor %}
    <form method="GET" action="{% url 'search-results' %}">
    <input type="text" name="query" placeholder="Search...">
    <button type="submit">Search</button>
</form>
{% endblock %}