{% extends 'base.html' %}

{% block content %}
    <h1>{{ user_profile.user.username }} user's profile</h1>
    <p>Country: {{ user_profile.country }}</p>
    <p>Age: {{ user_profile.age }}</p>
    <p>Bio: {{ user_profile.about }}</p>
    <p>Interests:
        {% for interest in user_profile.interests.all %}
            <ul>
            <li>{{ interest }}</li>
            </ul>

        {% endfor %}
    <a href="{% url 'edit-user' user_profile.id %}">Edit your profile</a><br>
    <a href="{% url 'main-page' %}">Retun to the main page</a>
    </p>
{% endblock %}